<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="./{{ .todo.Id }}/delete" method="post">
        <input type="submit" value="削除する">
    </form>
    <h1>{{ .todo.Text }}</h1>
    <hr>
    <form action="./{{ .todo.Id }}" method="post">
        <input type="text" name="text">
        <input type="submit" value="編集する">
    </form>
</body>
</html>